@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;
      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;
      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;
      --primary: 240 5.9% 10%;
      --primary-foreground: 0 0% 98%;
      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;
      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 45%;
      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;
      --destructive: 0 72% 51%;
      --destructive-foreground: 0 0% 98%;
      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --ring: 240 5.9% 10%;
      --radius: 0.5rem;
      --sidebar-background: 0 0% 98%;
      --sidebar-foreground: 240 5.3% 26.1%;
      --sidebar-primary: 240 5.9% 10%;
      --sidebar-primary-foreground: 0 0% 98%;
      --sidebar-accent: 240 4.8% 95.9%;
      --sidebar-accent-foreground: 240 5.9% 10%;
      --sidebar-border: 220 13% 91%;
      --sidebar-ring: 217.2 91.2% 59.8%;

      /* Nuevo color personalizado */
      --brand: #df7eb2; /* Aquí defines el tono de tu color */
     
    }
  .dark {
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }

  /* Al usar la variable, ya no se utiliza hsl(), se aplica directamente */
.text-brand {
  color: var(--brand);
}
.bg-brand {
  background-color: var(--brand);
}
.boder-brand {
  border-color: var(--brand);
}
  }
  
  @layer base {
    * {
      @apply border-border;
    }
  
    body {
      @apply bg-background text-foreground font-body;
    }
  
    h1, h2, h3, h4, h5, h6 {
      @apply font-heading;
    }
  }


  /*DiverJS */
  .driver-popover.driverjs-theme {
    background-color: #ffffff;
    color: #000;
    border-radius: 10px;
    box-shadow: #9b9b9b;
  }
  
  .driver-popover.driverjs-theme .driver-popover-title {
    font-size: 20px;
  }
  
  .driver-popover.driverjs-theme .driver-popover-title{
    color: black;
  }
  .driver-popover.driverjs-theme .driver-popover-description,
  .driver-popover.driverjs-theme .driver-popover-progress-text {
    color: #1f2937;
  }
  
  .driver-popover.driverjs-theme button {
    flex: 1;
    text-align: center;
    background-color: #df7eb2;
    color: #ffffff;
    border: 2px solid #df7eb2;
    text-shadow: none;
    font-size: 14px;
    padding: 5px 8px;
    border-radius: 6px;

  }
  
  .driver-popover.driverjs-theme button:hover {
    background-color: #df7eb2ea;
    color: #ffffff;
  }
  
  .driver-popover.driverjs-theme .driver-popover-navigation-btns {
    justify-content: space-between;
    gap: 3px;
  }
  
  .driver-popover.driverjs-theme .driver-popover-close-btn {
    color: #9b9b9b;
  }
  
  .driver-popover.driverjs-theme .driver-popover-close-btn:hover {
    color: #000;
  }
  
  .driver-popover.driverjs-theme .driver-popover-arrow-side-left.driver-popover-arrow {
    margin: 2px;
    border-left-color: #df7eb2ea;
  }
  
  .driver-popover.driverjs-theme .driver-popover-arrow-side-right.driver-popover-arrow {
    margin: 2px;
    border-right-color: #df7eb2ea;
  }
  
  .driver-popover.driverjs-theme .driver-popover-arrow-side-top.driver-popover-arrow {
    border-top-color: #df7eb2ea;
    margin: 2px;
  }
  
  .driver-popover.driverjs-theme .driver-popover-arrow-side-bottom.driver-popover-arrow {
    margin: 2px;
    border-bottom-color: #df7eb2ea;
  }